.hero {
  background: url('../images/img/img.jpg') no-repeat;
  background-size: cover;
}

.hero__header {
  width: 100%;
  height: 70px;
  padding: 18px 0 8px 0;
  background-color: #56534c7c;
}

.hero-container {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-shadow: -2px 2px 2px black;
}

.hero__logo {
  width: 140px;
  height: 45px;
  text-align: center;
}

.logo {
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'Scriptina';
  font-size: 30px;
  color: #fff;
  line-height: 24px;
  letter-spacing: 9px;
}

.menu__list {
  display: flex;
}

.menu__item {
  text-transform: uppercase;
  &::after {
    display: inline-block;
    content: "-";
    font-size: 14px;
    margin: 0px 20px;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}

.menu__link {
  font-family: "Alegria";
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 4.2px;
  font-size: 14px;
  opacity: 0.8;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}

.socials__list {
  display: flex;
}

.socials__item {
  margin-top: 3px;
  margin-right: 20px;
  opacity: 0.8;
  transition: opacity 0.2s;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    opacity: 1;
  }
}

.hero__desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle closest-side at center, rgba(86, 83, 76, 0.85), #56534c00);
  align-self: center;
  padding: 10px;
  @include absolute;
  text-align: center;
}

.hero__title {
  line-height: .7;
  min-width: 750px;
  font-family: 'PlayfairDisplay';
  font-weight: 600;
  font-size: 92px;
  letter-spacing: 6.9px;
  text-shadow: -6px 14px 13px #3d3029;
  margin-bottom: 55px;
}

.hero__dashed-line {
  width: 100%;
  margin-bottom: 70px;
}

.hero__subtitle {
  padding: 0 130px;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 2.4px;
  text-shadow: -2px 2px 2px #010101;
  margin-bottom: 30px;
}

.hero__btn {
  background-color: #56534c9c;
  width: 200px;
  height: 50px;
  font-family: "Alegria";
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 4.2px;
  color: #fff;
  border-radius: 5px;
  text-shadow: -3px 4px 7px black;
  &:hover {
    background-color: #56534cc2;
  }
}

.hero__arrow {
  background-image: url('../images/img/arrowCircle.png');
  background-size: contain;
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow__circle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

.arrow__btn {
  width: 50px;
  height: 50px;
  @include absolute;
  background-image: url('../images/img/arrowBread.png');
  background-size: contain;
  background-repeat: no-repeat;
}