.price {
  background: url('../images/img/bg_price.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  font-family: "Alegria";
}

.price__pricelist {
  padding-top: 50px;
  width: 50%;
  height: 100%;
}

.pricelist {
  display: flex;
  justify-content: flex-end;
}

.pricelist__container {
  width: 360px;
  padding: 10px;
  text-align: center;
  margin-right: 20px;
}

.pricelist__titles {
  font-weight: 600;
  text-align: center;
}

.pricelist__main-title {
  font-size: 60px;
}

.pricelist__main-subtitle {
  font-size: 18px;
  color: #c8a593;
  text-transform: uppercase;
}

.pricelist__item {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.pricelist__name {
  font-size: 30px;
  font-weight: 600;
}

.pricelist__subname {
  font-family: 'Myriad';
  font-size: 16px;
  color: #c2beba;
}

.pricelist__price {
  font-size: 36px;
  font-weight: 400;
  color: #dfc691;
}

.price__cards {
  width: 50%;
  height: 100%;
  position: relative;
}

.price__cards-list {
  display: flex;
}

.price__cards-item {
  @include absolute;
  background-color: #f3f1e9;
  width: 370px;
  height: 500px;
  padding: 20px;
  outline: 2px dashed #9e9c93;
  outline-offset: -10px;
  color: #56534c;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 90%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 7% 100%, 0 95%, 0 0);
  text-align: center;
}

.price__cards-item--card1--left {
  z-index: 99;
}

.price__cards-item--card2--left {
  left: 53%;
  z-index: 88;
  height: 450px;
  background-color: #d9d5c7;
  transition: .3s;
  &:hover {
    // z-index: 100;
    left: 54%;
  }
}

.price__cards-item--card3--left {
  left: 56%;
  z-index: 77;
  height: 400px;
  background-color: #bfbbaf;
  transition: .3s;
  &:hover {
    // z-index: 100;
    left: 57%;
  }
}

.card__triangle {
  width: 22px;
  height: 22px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 2px -1px 10px grey;
}

.card__pic-colos {
  position: absolute;
  bottom: -70px;
  right: -205px;
}

.card__top {
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.card__pic {
  margin-top: 5px;
  width: 100%;
  position: relative;
  background: url('../images/img/price_line_bublik.png') center no-repeat;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.card__desc {
  font-family: 'Proximanova';
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
}

.card__button {
  width: 190px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #9e9c93;
  text-transform: uppercase;
  color: #a47d5e;
  font-weight: 600;
  font-size: 18px;
}