.art__gradient
section.section.art
  .art__sides
    .art__left-side
      .art__container
        .art__titles
          h2.art__title Art of cakes
          h3.art__subtitle we create delicious memories
        .art__desc
          p Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.
        .art__cooker
          h2.art__cooker-title Chef Cook
          .art__cooker-avatar
          h3.art__cooker-subtitle Unique creations for unique occasions.

    .art__right-side