footer.footer
  .footer__sides
    nav.footer__menu
      ul.footer__list
        li.footer__item
          a.footer__link(href="#") our menu
        li.footer__item
          a.footer__link(href="#") gallery
        li.footer__item
          a.footer__link(href="#") culture
  .footer__logo
    .footer__logo-link Gustoso
  .footer__sides
    nav.footer__menu
      ul.footer__list
        li.footer__item
          a.footer__link(href="#") events
        li.footer__item
          a.footer__link(href="#") catering
        li.footer__item
          a.footer__link(href="#") visit us