section.section.hero
  header.hero__header
    .hero-container
      .hero__logo
        a.logo(href="index.html") Gustoso
      nav.hero__menu
        ul.menu__list
          li.menu__item
            a.menu__link(href="#") welcome
          li.menu__item
            a.menu__link(href="#") menu
          li.menu__item
            a.menu__link(href="#") reservation
          li.menu__item
            a.menu__link(href="#") news
          li.menu__item
            a.menu__link(href="#") contacts
      .hero__socials
        ul.socials__list
          li.socials__item
            a.socials__link(href="#")
              img(src="assets/images/icons/logo-twitter.svg" alt="Twitter")
          li.socials__item
            a.socials__link(href="#")
              img(src="assets/images/icons/logo-facebook.svg" alt="Facebook")
          li.socials__item
            a.socials__link(href="#")
              img(src="assets/images/icons/logo-instagram.svg" alt="Instagramm")
  .hero__desc
    h1.hero__title Pastry with love
    .hero__dashed-line
      img(src="assets/images/img/dashedLine.png" alt="Dashed")
    .hero__subtitle We’re bringing you fresh ingredients every day in ways you can’t resist.
    button.hero__btn(type="button") Our menu
  .hero__arrow
    .arrow__circle
      button.arrow__btn(type="button")
