section.section.menu
  .menu__slider
    .slider
      .slider__display
        .display__img
      .slider__info
        .slider__titles
          h2.slider__title Tasty pancakes
          h3.slider__subtitle season favourite
        .slider__description
          | Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.
      .slider__controls
        .slider__controls-container
          button.slider__btn#slider__prev-btn(type="button") <
          .slider__pagination
            ul.pagination__list
              li.pagination__item
                +image('img/pagination_img1.png', 'Image of Desert', 'pagination__img')
              li.pagination__item
                +image('img/pagination_img2.png', 'Image of Desert', 'pagination__img')
              li.pagination__item
                +image('img/pagination_img3.png', 'Image of Desert', 'pagination__img')
          button.slider__btn#slider__next-btn(type="button") >
      .times.slider__times
          .times__title ready in
          .times__time 40
          .times__subtitle mins
      

