section.section.price
  .pricelist.price__pricelist
    .pricelist__container
      .pricelist__titles
        .pricelist__main-title Breackfast
        .pricelist__main-subtitle 7am Breakfast? we’re open!
      ul.pricelist__list
        li.pricelist__item
          .pricelist__title Full breackfast
          .pricelist__subtitle Duis ut tortor, et risus, vulputate pretium
          .pricelist__price $ 12.49
        li.pricelist__item
          .pricelist__title Toast & Jam
          .pricelist__subtitle Suspendisse, tempus, nterdum
          .pricelist__price $ 4.90
        li.pricelist__item
          .pricelist__title Muffins
          .pricelist__subtitle Fusce eget dui sodales est
          .pricelist__price $ 3.95

  .price-desc