section.section.recipe
  header.recipe__header
    .recipe__header-titles
      h1.recipe__header-title The Jibarito sandwich
      p.recipe__header-subtitle the best sandwich you’ve ever tasted!
  .recipe__container
    aside.recipe__sidebar
      ul.recipe__sidebar-list
        li.recipe__sidebar-item
          .recipe__sidebar-pic
            +image('img/pagination_img1.png', 'photo', 'recipe__sidebar-img')
          .recipe__sidebar-title Class aptent
          .recipe__sidebar-subtitle Quot alienum persecuti ut eam, nam ad atqui primis nusquam.
        li.recipe__sidebar-item
          .recipe__sidebar-pic
            +image('img/pagination_img2.png', 'photo', 'recipe__sidebar-img')
          .recipe__sidebar-title Nulla eget
          .recipe__sidebar-subtitle Nullam dictum felis eu pede mollis pretium Integer tincidunt.
        li.recipe__sidebar-item
          .recipe__sidebar-pic
            +image('img/pagination_img3.png', 'photo', 'recipe__sidebar-img')
          .recipe__sidebar-title Sed nibh purus
          .recipe__sidebar-subtitle  Aenean eleifend tellus leo ligula, porttitor eu, consequat vitae.
    .recipe__content
      .content-aside.recipe__content-aside
        ul.content-aside__list
          li.content-aside__item
            .content-aside__title prep
            .content-aside__number 15
            .content-aside__mins mins
          li.content-aside__item
            .content-aside__title cook
            .content-aside__number 35
            .content-aside__mins mins
          li.content-aside__item
            .content-aside__title ready in
            .content-aside__number.content-aside__number--color 50
            .content-aside__mins mins
  include footer.pug