// Alegria Font
@font-face {
  font-family: 'Alegria';
  src: url('../fonts/Alegria/Alegreya-Bold.woff')format('woff'), url('../fonts/Alegria/Alegreya-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Alegria';
  src: url('../fonts/Alegria/Alegreya-Regular.woff')format('woff'), url('../fonts/Alegria/Alegreya-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

// Scriptina Font
@font-face {
  font-family: 'Scriptina';
  src: url('../fonts/Scriptina/Scriptina.woff')format('woff'), url('../fonts/Scriptina/Scriptina.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// Proximanova Font
@font-face {
  font-family: 'Proximanova';
  src: url('../fonts/proximanova/proximanova.woff')format('woff'), url('../fonts/proximanova/proximanova.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// PlayfairDisplay Font
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format(woff),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2') format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

// Roboto Font
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Light.woff') format('woff'), url('../fonts/Roboto/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-LightItalic.woff') format('woff'), url('../fonts/Roboto/Roboto-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-BoldItalic.woff') format('woff'), url('/../fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: block;
}